*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* is used to count border inside content area*/
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
}
.nav-logo{
    height:50px;
    width:114px;
}
.logo{
    background-image:url("Amazon Clone (Resources)/amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100%;
    
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}

.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;
    
}
.add-second{
    color:#ffffff;
    font-size:1rem;
    margin-left: -3px;
}
.add-icon{
    display:flex;
    align-items: center;
}
 .nav-search{
    display:flex;
    justify-content:space-evenly;
   margin-left:10px;
    width:1064.53px;
    height:40px;
    border-radius: 3.5px;
 }
 .search-select{
    background-color: #f3f3f3;
    text-align:center;
   border:none;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
 }
 .search-input{
    width:100%;
    font-size:1rem;
    border:none;
 }
 .search-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
 }
 .flag-logo{
    margin-left:20px;
    font-size:14px;
    margin-top:10px;
 }
 span{
    font-size:12px;
 }
 .nav-second{
    font-size:14px;
    font-weight:700;
 }
 .sign-in{
    margin-left:3px;
 }
 .return{
    margin-left:30px;
 }
 .nav-search:hover{
    border:2px solid orange;
 }
.nav-cart i{
    margin-left:30px;
    font-size:30px;
}
.nav-cart{
    font-weight: 700;
}
/* panel styling*/
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-evenly;
}
.panel-ops p{
    display:inline;
    color:white;
    margin-left:15px;
}
.panel-ops{
    width:75%;
    font-size:13px;
    margin-left: -75px;
}
.panel-deals{
    font-size:14px;
    font-weight:700;

}
.panel-all{
margin-left:-75px;
}
/* hero section styling*/
.hero-section{
    background-image:url("Amazon Clone (Resources)/hero_image.jpg");
    height:350px;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.hero-message{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 14px;
    width:97%;
    margin-bottom:20px;
}
.hero-message a{
    color:#007185;
}

/*shop section*/
.shop-section{
    display:flex;
    justify-content:space-evenly;
    margin-top:10px;
    flex-wrap: wrap;
    
}
.box{
    height:450px;
   /*border:2px solid black;*/
    width:19%;
    border-radius:15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    
   
}
.box1{
    background-image: url("Amazon Clone (Resources)/image1.png");
    background-size:cover;
    background-position: center;  /*This controls which part of the image is shown when the image is cropped.*/
    position:relative;
    overflow: hidden;
}
.box1-content{
    position:absolute;
    top:25px;
    left:25px;
}
.box1-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height:0.9;
    
}

.box2{
    background-image: url("Amazon Clone (Resources)/image2.png");
    background-size:cover;
    background-position: center;  /*This controls which part of the image is shown when the image is cropped.*/
    position:relative;
    overflow: hidden;
}
.box2-content{
    position:absolute;
    top:25px;
    left:25px;
}
.box2-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height:0.9;
    
}

.box3{
    background-image: url("Amazon Clone (Resources)/image3.png");
    background-size:cover;
    background-position: center;  /*This controls which part of the image is shown when the image is cropped.*/
    position:relative;
    overflow: hidden;
}
.box3-content{
    position:absolute;
    top:25px;
    left:25px;
}
.box3-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height:0.9;
    
}

.box4{
    background-image: url("Amazon Clone (Resources)/image4.png");
    background-size:cover;
    background-position: center;  /*This controls which part of the image is shown when the image is cropped.*/
    position:relative;
    overflow: hidden;
}
.box4-content{
    position:absolute;
    top:25px;
    left:25px;
}
.box4-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height:0.9;
    
}

.box5{
    background-image: url("Amazon Clone (Resources)/image5.png");
    background-size:cover;
    background-position: center;  /*This controls which part of the image is shown when the image is cropped.*/
    position:relative;
    overflow: hidden;
}
.box5-content{
    position:absolute;
    top:25px;
    left:25px;
}
.box5-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height:1;
    
}

/*styling for box6*/
.box6 {
    padding: 15px;
}

.box6 .small-box1,
.box6 .small-box2,
.box6 .small-box3,
.box6 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
/*image for box6*/
.box6 .small-box1 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box6_image1.jpg");
}

.box6 .small-box2 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box6_image2.jpg");
}

.box6 .small-box3 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box6_image3.jpg");
}

.box6 .small-box4 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box6_image4.jpg");
}
.box6 h2{
    font-size:13px;
    font-weight: normal;
}
.box6 > h2 {
    font-size: 21px;
    font-weight: 700;
}


/*styling for box7*/
.box7 {
    padding: 15px;
}

.box7 .small-box1,
.box7 .small-box2,
.box7 .small-box3,
.box7 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
/*image for box7*/
.box7 .small-box1 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box7_image1.jpg");
}

.box7 .small-box2 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box7_image2.jpg");
}

.box7 .small-box3 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box7_image3.jpg");
}

.box7 .small-box4 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box7_image4.jpg");
}
.box7 h2{
    font-size:13px;
    font-weight: normal;
}
.box7 > h2 {
    font-size: 21px;
    font-weight: 700;
}

.box7 {
    padding: 15px;
}

.box7 .small-box1,
.box7 .small-box2,
.box7 .small-box3,
.box7 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

/*styling for box8*/
.box7 {
    padding: 15px;
}

.box8 .small-box1,
.box8 .small-box2,
.box8 .small-box3,
.box8 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
/*image for box8*/
.box8 .small-box1 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box8_image1.jpg");
}

.box8 .small-box2 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box8_image2.jpg");
}

.box8 .small-box3 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box8_image3.jpg");
}

.box8 .small-box4 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box8_image4.jpg");
}
.box8 h2{
    font-size:13px;
    font-weight: normal;
}
.box8 > h2 {
    font-size: 21px;
    font-weight: 700;
}

.box8 {
    padding: 15px;
}

.box8 .small-box1,
.box8 .small-box2,
.box8 .small-box3,
.box8 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

/*styling for box9*/
.box7 {
    padding: 15px;
}

.box9 .small-box1,
.box9 .small-box2,
.box9 .small-box3,
.box9 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
/*image for box9*/
.box9 .small-box1 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box9_image1.jpg");
}

.box9 .small-box2 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box9_image2.jpg");
}

.box9 .small-box3 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box9_image3.jpg");
}

.box9 .small-box4 .small-box-img {
    background-image: url("Amazon Clone (Resources)/box9_image4.jpg");
}
.box9 h2{
    font-size:13px;
    font-weight: normal;
}
.box9 > h2 {
    font-size: 21px;
    font-weight: 700;
}

.box9 {
    padding: 15px;
}

.box9 .small-box1,
.box9 .small-box2,
.box9 .small-box3,
.box9 .small-box4 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.small-box-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.box6 > h2, /* to make all boxes in one line as because of heading in box 7 contains two line*/
.box7 > h2,
.box8 > h2,
.box9 > h2 {
    height: 42px;
}
.box7 h2{
    line-height: 1;
}
/*footer styling*/
footer{
    margin-top:15px;
}




.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 12px;
}

.foot-panel2{
    background-color: #222f3d;
    color:#dddddd;
    height:450px;
    display: flex;
    justify-content: space-evenly;
    
}
ul a{
    display: block;
    font-size: 14px;
    margin-top:20px;
    
}
ul p{
    font-weight: 700;
    color:white;
}
ul{
    margin-top:30px;
}
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
     
}
.amazon-logo {
    background-image: url("Amazon Clone (Resources)/amazon_logo.png");  
    background-size: contain;
    background-repeat: no-repeat;  /*important line*/
    background-position: center;
    height: 50px;
    width: 100%;
    
}
.foot-panel4{
    background-color: #0f1111;
    color:white;
    
    height:80px;
    /* display:flex;
    justify-content: center;
    align-items: center;
     */
}
.pages{
font-size: 12px;
text-align: center;
padding-top: 25px;
}
.copyright{
    font-size: 12px;
text-align: center;
}
